
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";


@theme {
  --font-sans: "Hanken Grotesk", "sans-serif";
}


body {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: #f8fafc;
}


::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}